body {
    font:14px arial;
    text-align:center;
    background-color: burlywood;
  }
  
  #frame {
    display: inline-block;
    justify-content: center;
    margin-top:15px;
    width:440px;
  }
  
  #left {
    float:left;
    width:130px;
  }
  
  div.heading {
    font:40px arial;
    font-weight:bold;
    margin-bottom:5px;
  }
  
  div.subheading {
    font:20px arial;
    font-style:italic;
    margin-bottom:30px;
  }
  
  div.field {
    margin-bottom:5px;
    text-align:right;
  }
  